<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Get Quiz</title>-->
<!--  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='quiz.css')}}">-->
<!--    <link rel="preconnect" href="https://fonts.gstatic.com">-->
<!--    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">-->
<!--</head>-->
<!--<body>-->

<!-- <div class="bg"><h1><span style="color:#10c9ff;font-weight:bold; font-size: 60px;">Quick</span><span style="color: #feb916;font-weight:bold; font-size: 60px"> Quiz</span></h1>-->
<!--  <h2><span style="color:#ffffff;font-weight:bold; font-size: 20px;">Choose the subject and difficulty of your choice and you are good to go!</span></h2>-->
<!--  </div>-->
<!--<div class="header">-->
<!--    <a href="/" class="logo">Minutiae</a>-->
<!--    <img src="https://img.icons8.com/bubbles/50/000000/short-hair-lady-question-mark.png"/>-->
<!--    <div class="header-right">-->
<!--      &lt;!&ndash; Don't uncomment this line <a class="active" href="#home">Home</a>&ndash;&gt;-->
<!--      <a href="/login">Login</a>-->
<!--      <a href="/signup">Sign up</a>-->
<!--    </div>-->
<!--  </div>-->

<!--<div class="box">-->
<!--<form action="{{url_for('quiz_api')}}" method="post">-->
<!--  <label>Choose your difficulty level:</label>-->
<!--  <select name="difficulty" required>-->
<!--    <option type="checkbox" value = "easy"  >Easy</option>-->
<!--    <option type="checkbox" value = "medium" >Medium</option>-->
<!--    <option type="checkbox" value = "hard" >Hard</option>-->
<!--  </select>-->
<!--    <label> Choose Subject:</label>-->
<!--  <select name="category">-->
<!--    <option value="any">Any Category</option>-->
<!--    <option value="9">General Knowledge</option>-->
<!--    <option value="10">Entertainment: Books</option>-->
<!--    <option value="11">Entertainment: Film</option>-->
<!--    <option value="12">Entertainment: Music</option>-->
<!--    <option value="13">Entertainment: Musicals &amp; Theatres</option>-->
<!--    <option value="14">Entertainment: Television</option>-->
<!--    <option value="15">Entertainment: Video Games</option>-->
<!--    <option value="16">Entertainment: Board Games</option>-->
<!--    <option value="17">Science &amp; Nature</option>-->
<!--    <option value="18">Science: Computers</option>-->
<!--    <option value="19">Science: Mathematics</option>-->
<!--    <option value="20">Mythology</option>-->
<!--    <option value="21">Sports</option>-->
<!--    <option value="22">Geography</option>-->
<!--    <option value="23">History</option>-->
<!--    <option value="24">Politics</option>-->
<!--    <option value="25">Art</option>-->
<!--    <option value="26">Celebrities</option>-->
<!--    <option value="27">Animals</option>-->
<!--    <option value="28">Vehicles</option>-->
<!--    <option value="29">Entertainment: Comics</option>-->
<!--    <option value="30">Science: Gadgets</option>-->
<!--    <option value="31">Entertainment: Japanese Anime &amp; Manga</option>-->
<!--    <option value="32">Entertainment: Cartoon &amp; Animations</option>-->
<!--  </select>-->
<!--    <label>Choose no. of questions:</label>-->
<!--    <input type="number" name="amount"  class="form-control" min="1" max="50" value="10">-->
<!--  <input type="submit" value="Submit">-->
<!--</form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minutiae - Quick Quiz</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/quiz.css')}}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="https://img.icons8.com/bubbles/50/000000/short-hair-lady-question-mark.png">
</head>
<body>
 <div class="header">
    <a href="/" class="logo">Minutiae</a>
    <img src="https://img.icons8.com/bubbles/50/000000/short-hair-lady-question-mark.png"/>
    <div class="header-right">
      <!-- Don't uncomment this line <a class="active" href="#home">Home</a>-->
      <a href="/profile">{{current_user.name}}</a>
      <a href="/logout">Logout</a>
    </div>
  </div>

  <div class="bg"><h1><span style="color:#10c9ff;font-weight:bold; font-size: 60px;">Quick</span><span style="color: #feb916;font-weight:bold; font-size: 60px"> Quiz</span></h1>
  <h2><span style="color:#ffffff;font-weight:bold; font-size: 20px;">Choose the subject and difficulty of your choice and you are good to go!</span></h2>
  </div>

  <div class="box">
    <form action="{{url_for('quiz_api')}}" method="post">
        <label for="difficulty">Choose your difficulty level:</label>
        <select class="difficulty" name="difficulty">
          <option value="easy">Easy</option>
          <option value="medium">Medium</option>
          <option value="hard">Hard</option>
        </select>

        <label for="subject">Choose subject:</label>
        <select class="subject" name="category">
            <option value="any">Any Category</option>
            <option value="9">General Knowledge</option>
            <option value="10">Entertainment: Books</option>
            <option value="11">Entertainment: Film</option>
            <option value="12">Entertainment: Music</option>
            <option value="13">Entertainment: Musicals &amp; Theatres</option>
            <option value="14">Entertainment: Television</option>
            <option value="15">Entertainment: Video Games</option>
            <option value="16">Entertainment: Board Games</option>
            <option value="17">Science &amp; Nature</option>
            <option value="18">Science: Computers</option>
            <option value="19">Science: Mathematics</option>
            <option value="20">Mythology</option>
            <option value="21">Sports</option>
            <option value="22">Geography</option>
            <option value="23">History</option>
            <option value="24">Politics</option>
            <option value="25">Art</option>
            <option value="26">Celebrities</option>
            <option value="27">Animals</option>
            <option value="28">Vehicles</option>
            <option value="29">Entertainment: Comics</option>
            <option value="30">Science: Gadgets</option>
            <option value="31">Entertainment: Japanese Anime &amp; Manga</option>
            <option value="32">Entertainment: Cartoon &amp; Animations</option>

        </select>

        <label >Choose number of questions:</label>
        <input type="number" name="amount" value="5">


        <input type="submit"  value="Next">
        </form>


        <!--<header>
            <div class="title">Minutiae - The Quiz Application</div>
         </header>
        <p>1. How many characters were originally allowed in a ‘Tweet’ when Twitter first launched in 2006?</p>
            <label class="container" value=189>189
            <input type="radio" name="radio">
            <span class="checkmark"></span>
            </label>
            <label class="container" value=127>127
            <input type="radio" name="radio">
            <span class="checkmark"></span>
            </label>
            <label class="container" value=140>140
            <input type="radio" name="radio">
            <span class="checkmark"></span>
            </label>
            <label class="container" value=100>100
            <input type="radio" name="radio">
            <span class="checkmark"></span>
            </label>
             Next/Previous buttons:-->
    <!--<div class="p">
        <a href="#">Next ques ❯</a>
    </div>-->
     </div>

</body>
</html>
