<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minutiae - Sign Up</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/signup.css')}}">
    <link rel="icon" type="image/png" href="https://img.icons8.com/bubbles/50/000000/short-hair-lady-question-mark.png">
</head>
<body>
<ul>
<!--    <li style="float:right"><a class="active" href="/login">Login</a></li>-->
    <li><a href="/" class="logo"><b>Minutiae</b></a></li>
    <li><img src="https://img.icons8.com/bubbles/50/000000/short-hair-lady-question-mark.png"/></li>
</ul>

<h1> </h1><br><br>
<h2><span style="color:#ffffff;font-weight:bold; font-size: 40px;">Create an account</span></h2>
    <div class="box">
        <form action="{{url_for('signup')}}" method="post">
          <label > Name:</label>
          <input type="text" id="name" name="name" placeholder="Your name..">
      
          <label >Email:</label>
          <input type="text" id="lname" name="email" placeholder="Your email..">
          
          <label for="pwd">Password:</label><br>
          <input type="password" id="pwd" name="password" placeholder="Your password..">

<!--          <label for="country">Country</label>-->
<!--          <select id="country" name="country">-->
<!--            <option value="australia">Australia</option>-->
<!--            <option value="Canada">Canada</option>-->
<!--            <option value="Usa">USA</option>-->
<!--            <option value="India">India</option>-->
<!--            <option value="Germany">Germany</option>-->
<!--          </select>-->
<!--          <label>-->
<!--            <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me-->
<!--          </label>-->
          <input type="submit" value="Submit">
        </form>
      </div>
</body>
</html>



