/*Make Quiz Page*/

body {
    background-image: url('bkgr.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: poppins, sans-serif;
    margin: 0px;
  }

  .logo{
    float: left;
    font-size: 25px;
    text-align: center;
    padding: 12px;
    line-height: 25px;
    border-radius: 4px;
    text-decoration: none;
  }
  
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    li {
      float: left;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover:not(.active) {
      background-color: rgb(104, 104, 104);
    }
    
    .active {
      background-color: #333;
    }
   

  /* username textbox */
  input[type=text], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
   
    /*login button*/
    input[type=submit] {
      width: 100%;
      background-color: #007bff;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type=submit]:hover {
      background-color: #004085;
    }

    div {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
    } 
  
    .box {
      background-color: lightgrey;
      width: 600px;
      border: 15px solid lightgrey;
      padding: 30px;
      margin: auto;
      transform: translate(30px,30px);
      border-radius: 15px;
    }