body {
    background-image: url('bkgr.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: poppins, sans-serif;
    margin: 0px;
  }
  
.logo{
  float: left;
  font-size: 25px;
  text-align: center;
  padding: 12px;
  line-height: 25px;
  border-radius: 4px;
  text-decoration: none;
}

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #7a838d;
  }

  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  } 

  .box {
    background-color: rgb(211, 211, 211);
    width: 300px;
    border: 15px solid rgb(72, 153, 207);
    padding: 30px;
    margin: auto;
    transform: translate(30px,30px);
    border-radius: 15px;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #007bff;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 18px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  
  p{
      font-size: 20px;
  }

  