/*Result Page*/

body {
    background-image: url('bkgr.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: poppins, sans-serif;
    margin: 0px;
    }

/* navbar */
.logo{
  float: left;
  font-size: 25px;
  text-align: center;
  padding: 12px;
  line-height: 25px;
  border-radius: 4px;
  text-decoration: none;
}

.hide{
  color:white;
  visibility: hidden;
}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }

  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }   

/*class box*/

.box {
      background-color: rgb(218, 232, 252);
      width: 500px;
      border: 15px solid rgb(143, 187, 253);
      padding: 30px;
      margin: auto;
      transform: translate(30px,50px);
      border-radius: 15px;
    }

/* classes for incorr, corr, score option*/

.op{
      background-color: rgb(205, 224, 248);
      padding: 20px 15px;
      display: block;
      border-radius: 15px;   
    }
.c{
      background-color :#d2e69c;
      padding: 10px 10px;
      display: block;
      border-radius: 15px;
   }
.i{

     background-color :#f05945;
    padding: 10px 10px;
    display: block;
    border-radius: 15px;
}

.container {
  text-align:center;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
} 

/* buttons */

.button {
  display: inline-block;
  border-radius: 14px;
  background-color: #095fbb;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 15px 32px;
  width: 130px;
  height: 70px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}